# Servidor
PORT=3000
NODE_ENV=development

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=heroback_db
DB_USER=postgres
DB_PASSWORD=tu_password

# JWT
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio

# Sesiones
SESSION_SECRET=otro_secreto_distinto_y_largo

# Superhero API (opcional, sólo para `npm run seed -- --live`)
# Obtén el tuyo en https://superheroapi.com/
SUPERHERO_API_TOKEN=10158880719434587
SUPERHERO_API_URL=https://superheroapi.com/api


# pgAdmin (docker-compose)
PGADMIN_DEFAULT_EMAIL=admin@heroback.com
PGADMIN_DEFAULT_PASSWORD=admin
